## node packages
node_modules

## git
.gitattributes

## credentials
.env

#Hardhat
artifacts
cache

#coverage
coverage
coverage.json

#OpenZeppelin
.openzeppelin

#typechain
typechain-types

# docgen
docs

#vscode config
.vscode
.DS_Store
